/* Footer */

/*variables*/
$bg-color:white;
$p-general: 1.3rem;
$w:100%;
$color:black;
$t-align:center;
$font:'Nixie One', cursive;

footer{
    background-color: $bg-color;
    padding: $p-general;
    width: $w;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-transform: uppercase !important;
    
    i{
        a{
            color:$color;
            text-align:$t-align;
            font-family: $font;
            font-size: 1rem;
            font-weight: lighter;
        }
    }
}
