/* Estilos Generales */

/* Variables */
$c:black;
$font:'Nixie One', cursive;
$t-align:center;
$pad: 10px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Intro {
    color: $c;
    font-family: $font;
    font-size: 3rem;
    text-align: $t-align;
    letter-spacing: 6px;
    padding: $pad;
    text-transform: lowercase;
    margin-top: 5%;
    margin-bottom: 0%;

}


a {
    color: $c;
    text-decoration: none;
}

.logo {
    width: auto;
    height: 4rem;
    padding: 6px;
    display:flex;
    align-items: left;
    margin-top: 2%;
}

body{
	font-family:$font;
    background-image:url("../images/back.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
}
