/* Servicios */

/*variables*/
$c:white;
$t-align:center;
$pad: 20px;
$j-cont: space-around;
$d:flex;
$w:100%;
$font:'Nixie One', cursive;


.title-servicio{
color:$c;
text-align: $t-align;
font-family:$font;
padding: $pad;
font-size: 2.5rem !important;
margin-top: 1.5rem;
}

.copete-servicio{
    font-family: $font;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.texto-servicio{
    font-family: $font;
    font-size: 1.3rem;
    text-align: $t-align;
    margin: 4%;
    color:black;
}

.clientes{
display: $d;
justify-content: $j-cont;
justify-items: center;
padding: $pad;
width:$w ;

}
