/* Sobre mi*/

/*variables*/
$c:white;
$t-align:center;
$pad: 20px;
$w:100%;
$h:100%;
$d:flex;

.Emi{
    color:$c;
    text-align: $t-align;
    font-family: 'Inconsolata', monospace;
    padding: $pad;
    font-size: 2.5rem !important;
    margin-top: 1.5rem;
    }

.style-paragraph {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3rem;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.imagen {
display: $d;
align-items: center;
align-content: center;
margin-left: 30%;
    height: 5rem;
    width: 25rem;
}
